
/*变量定义*/
$aa:red;

/*最大宽度*/
$max-width:1200px;
$font-size14:14px;
$font-size16:16px;
$font-size18:18px;
$font-size20:20px;
$font-size24:24px;
$font-size26:26px;
$font-size30:30px;
$font-size38:38px;
.font-size14{
  font-size: $font-size14;
}
.font-size16{
  font-size: $font-size16;
}
.font-size18{
  font-size: $font-size18;
}
.font-size20{
  font-size: $font-size20;
}
.font-size24{
  font-size: $font-size24;
}
.font-size26{
  font-size: $font-size26;
}
.font-size30{
  font-size: $font-size30;
}
.font-size38{
  font-size: $font-size38;
}

@import "./service.scss";



/*初始化类*/
@font-face {
  font-family: "webfont";
  src: url('~@/assets/font/SourceHanSansCN-Normal.otf');
  font-weight: normal;
  font-style: normal;
}
html{
  font-family: "webfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
a:link{text-decoration: none;}
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; } 
input{ background:none;  outline:none; 	border: none;}
input:focus{ border:none;}


/*字体大小*/
.font-size14{
  font-size: 14px;
}
.font-size16{
  font-size: 16px;
}
.font-size18{
  font-size: 18px;
}
.font-size20{
  font-size: 20px;
}
.font-size24{
  font-size:$font-size24;
}
.font-size26{
  font-size: 26px;
}
.font-size30{
  font-size: 30px;
}
.font-size38{
  font-size: 38px;
}

/*字体颜色*/
.font-color-FFFFFF{
  color: #FFFFFF;
}
.font-color-000000{
  color: #000000;
}
.font-color-1B1B1B{
  color: #1B1B1B;
}
.font-color-949494{
  color: #949494;
}


/*工具类*/
.w1200{
  width: $max-width;
}
.h35{
  height: 35px;
}
.margin-auto{
  margin: 0 auto;
}
.container{
  max-width: $max-width;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-center{
  justify-content:center;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.icon40{
  width: 40px;
  height: 40px;
}
.icon65{
  width: 65px;
  height: 65px;
}
.icon14{
  width: 14px;
  height: 14px;
}
.icon24{
  width: 24px;
  height: 24px;
}
.icon30{
  width: 30px;
  height: 30px;
}
.icon20{
  width: 20px;
  height: 20px;
}
.text-align-center{
  text-align: center;
}
.opacity06{
  opacity: 0.6;
}
.pdt15b20{
  padding-top: 15px;
  padding-bottom: 20px;
}
.pdtb40lr30{
  padding: 40px 30px;
}
.pdl65{
  padding-left: 65px;
}
.pdt30{
  padding-top: 30px;
}
.pdb50{
  padding-bottom: 50px;
}
.pdr30{
  padding-right: 30px;
}
.pdt20{
  padding-top: 20px;
}
.pointer{
  cursor: pointer;
}
.border-bottom{
  border-bottom: 1px solid #E6E6E6;
}
.mt15{
  margin-top: 15px;
}
.mt100{
  margin-top: 100px;
}
.mt30{
  margin-top: 30px;
}
.mb43{
  margin-bottom: 43px;
}
.mb60{
  margin-bottom: 60px;
}
.mb50{
  margin-bottom: 50px;
}
.mr20{
  margin-right: 20px;
}
.mr5{
  margin-right: 5px;
}
.mt80{
  margin-top: 80px;
}
.mt20{
  margin-top: 20px;
}
.mb30{
  margin-bottom: 30px;
}
.mb15{
  margin-bottom: 15px;
}

.mb27{
  margin-bottom: 27px;
}
.mb40{
  margin-bottom: 40px;
}
.line-height16{
  line-height: 16px;
}
.line-height19{
  line-height: 19px;
}
.line-height20{
  line-height: 20px;
}
.line-height24{
  line-height: 24px;
}
.line-height27{
  line-height: 27px;
}
.line-height30{
  line-height: 30px;
}
.line-height41{
  line-height: 41px;
}

.line-height70{
  line-height: 70px;
}
.w100{
  width: 100%;
}
.pd-20-30{
  padding: 20px 30px;
}
.pd-43-60{
  padding: 43px 60px;
}
.pd-tb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.pd-l-43{
padding-left: 43px;
}
.pd-lr30{
  padding-left: 30px;
  padding-right: 30px;
}
.pd30{
  padding: 30px;
}
.pb20{
  padding-bottom: 20px;
}
.border-box{
  box-sizing: border-box;
}
.box-shadow{
  background: #FFFFFF;
  box-shadow: 0px 10px 28px rgba(194, 0, 18, 0.15);
  border-radius: 10px;
}


