/***********************变量定义start*************/

/*最大宽度*/
$max-width:1200px;

/***********************变量定义end*************/

/*初始化类*/
* {
  padding: 0;
  margin: 0;
}


/*字体大小*/
.font-size14{
  font-size: 14px;
}
.font-size16{
  font-size: 16px;
}
.font-size18{
  font-size: 18px;
}
.font-size20{
  font-size: 20px;
}
.font-size24{
  font-size: 24px;
}
.font-size26{
  font-size: 26px;
}
.font-size30{
  font-size: 30px;
}
.font-size38{
  font-size: 38px;
}

/*字体颜色*/
.font-color-FFFFFF{
  color: #FFFFFF;
}
.font-color-000000{
  color: #000000;
}
.font-color-1B1B1B{
  color: #1B1B1B;
}
.font-color-949494{
  color: #949494;
}



.w1200{
  width: $max-width;
}
.margin-auto{
  margin: 0 auto;
}
.container{
  max-width: $max-width;
  margin: 0 auto;
}
